<div class="container">

    <div class="row">

        <div class="col-md-4 ml-0">
            <app-perfil-lateral></app-perfil-lateral>
        </div>

        <div class="col-md-8 mt-5">

            <h3 class="text-center mb-4 text-monospace">Duvidas? Entre em contato conosco</h3>

            <div class="form-group">
                <label class="text-monospace" for="titulo">Assunto:</label>
                <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o assunto">
            </div>

            <div class="form-group">
                <label class="text-monospace" for="texto">Texto:</label>
                <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto"></textarea>
            </div>
            <div class="form-group">
                <label class="text-monospace" for="titulo">Email:</label>
                <input type="email" class="form-control" id="titulo" placeholder="Digite aqui o seu email">
            </div>
            
            <div class="row">
                <div class="col-md-12">

                    <div class="card mt-5 mb-5">
                        <div class="card-header">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-8">
                                    <h5 class="card-title"> </h5>

                                </div>
                                <div class="col-md-4 d-flex justify-content-end">


                                    <button class="btn btn-outline-danger ml-3 bg-success text-light border-0">
                                        Enviar
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>


                </div>