<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <nav class="main-navigation">
        <div class="navbar-header animated fadeInUp">
            <a class="navbar-brand" href=" https://brazil.generation.org/">Generation</a>
        </div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a routerLink='/home' class="nav-link">Home</a>
            </li>
            <li class="nav-list-item">
                <a routerLink='/feed' class="nav-link">Sobre nos</a>
            </li>
        </ul>

    </nav>