<div class="d-flex justify content-center mt-5 ml-0">

  <div class="card border-0 " style="width: 18rem;">

    <div class="card-body bg-white">
      <h5 class="card-title">Generation Brasil</h5>
      <p class="card-text">Generation é uma organização independente e sem fins lucrativos fundada em 2014 pela McKinsey
        & Company para ajudar a eliminar essa lacuna — com velocidade e escala.</p>
      <a href="https://brazil.generation.org/" class="btn btn-primary">Ver mais</a>
    </div>
  </div>

</div>